<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wild</title>

    <link rel="apple-touch-icon" sizes="57x57" href="/images/mobile/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/mobile/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/mobile/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/mobile/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/mobile/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/mobile/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/mobile/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/mobile/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/mobile/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/mobile/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/mobile/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/mobile/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/mobile/favicon-16x16.png">
    <link rel="manifest" href="/images/mobile/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/mobile/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link href='/css/material-icons.css' rel='stylesheet' type='text/css' />
    <link href='/css/material.css' rel='stylesheet' type='text/css'>
    <link href='/css/material.cyan-pink.min.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="app-root"></div>
  </body>
  <script src="/js/lib/jquery-2.2.0.min.js"></script>
  <script src="/js/material.js"></script>
  <script src="/js/bundle.js"></script>
</html>

